label.rc-message-box__container {
	border: 1px solid #383f49 !important;
	border-radius: 0.5rem !important;
	background: #292e35 !important;
	transition: all 0.3s ease-out;
}

label.rc-message-box__container:hover {
	background: #343942 !important;
}

.avatar .avatar-image {
	border-radius: 50%;
}

.color-primary-font-color,
textarea {
	color: #f2f3f5;
}

.rc-header__toggle-favorite--checked,
.rc-header__toggle-favorite:hover {
	color: #a2bbe2;
}

body.dark-mode a {
	color: #4eb2f5;
	transition: all 0.3s ease-out;
}

.message a:hover {
	color: #7fccff;
}
