@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;500&family=Open+Sans:wght@400;600&family=Roboto:wght@400;500&family=Ubuntu:wght@400;500&display=swap");

body {
	font-family: "Open Sans" !important;
}

label.rc-message-box__container {
	border: transparent;
	border-radius: 0.5rem !important;
	background: #323435 !important;
	transition: all 0.3s ease-out;
}

button.user.user-card-message.color-primary-font-color {
	color: #f2faff;
}

footer.sidebar__footer img {
	width: 0;
}

footer.sidebar__footer {
	position: relative;
}

footer.sidebar__footer:after {
	content: "";
	width: 135px;
	height: 27px;
	/* background: red; */
	position: absolute;
	background-image: url(https://raw.githubusercontent.com/mrxtan/rocket-chat-dark-mode/master/dark-logo.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.color-primary-font-color,
textarea {
	color: #d8d8d8;
}

.sidebar-item--active div.avatar img {
	border: 2px solid #ff1f57;
}

.sidebar-item--active {
	background-color: #414852;
	background-color: #3d424e;
}

.sidebar-item {
	border-radius: 0.5rem;
	margin: 0rem 0.6rem;
	padding: 0rem 0.7rem;
}

.first-unread .body:before {
	background: #a2bbe2 !important;
}

.first-unread .body:after {
	color: #ffffff;
	background: #f54f77;
	font-weight: bold;
	padding: 0.5rem;
}

label.rc-message-box__container:hover {
	background: #34383a !important;
}

.rc-header__wrap {
	background: #1d1f20;
}

.rc-message-box,
.room-list__list {
	background: #1c1e20;
}

.rc-header--room {
	background: #1c1e20;
}

aside.sidebar {
	background: #292c2d;
}

.avatar .avatar-image {
	border-radius: 50%;
}

.color-primary-font-color,
textarea {
	color: #f2f3f5;
}

.rc-header__toggle-favorite--checked,
.rc-header__toggle-favorite:hover {
	color: #a2bbe2;
}

body.dark-mode a {
	color: #4eb2f5;
	transition: all 0.3s ease-out;
}

body.dark-mode .message {
	border-top: 1px solid #323638;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background: #1c1e20;
}

.message a:hover {
	color: #7fccff;
}
